/* indexStyle.css */
#rotRr {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/rotRr.jpg");
}

#rot_rR {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/rot_rR.jpg");
}

#blauBB {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/blauBB.jpg");
}

#weissWW {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/weissWW.jpg");
}

.stein {
    margin: 5px;
}

#bausteine {
    display: flex;
    flex-wrap: wrap;
}

/* indexStyle.css */

#playground {
    position: relative;
    left: 10vw;
    width: min(0.8vw, 0.8vh);
    height: min(0.8vw, 0.8vh);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0; /* No gap between cells */
}

.row {
    display: flex;
}

.cell {
    font-family: "Segoe UI Emoji", emoji;
    text-underline: red;
    color: white;
    border: 1px solid black;
    box-sizing: border-box; /* Ensure the border is included in the height */
    background-size: cover;
}

.lamp {
    color: rgba(15, 15, 15, 0.2);
}

.lamp.cell {
    border: none;
}

.lamp.off {
    background-image: url("image/lampeAus.jpg");
}

.lamp.on {
    background-image: url("image/lampeAn.jpg");
}

