/* indexStyle.css */
* {
    font-family: 'Roboto', sans-serif; 
    text-align: justify;
  }
p {
    font-size: 2vh;
    line-height: 3vh;
}

#rotRr {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/rotRr.jpg");
}
#rot_rR {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/rot_rR.jpg");
}
#blauBB {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/blauBB.jpg");
}
#weissWW {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/weissWW.jpg");
}
.stein {
    margin: 5px;
}
#bausteine {
    display: flex;
    flex-wrap: wrap;
}
/* indexStyle.css */

#playground {
    display: grid;
    grid-template-columns: repeat(var(--laenge), 1fr);
    gap: 0; /* No gap between cells */
}

.row {
    display: flex;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
    background-image: none;
    background-color: none;
    background-size: cover;
}

