* {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    user-select: none;
}

p {
    font-size: 2vh;
    line-height: 3vh;
}

/* Stil für jeden Baustein */
#rotRr {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/rotRr.jpg");
}

#rot_rR {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/rot_rR.jpg");
}

#blauBB {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/blauBB.jpg");
}

#weissWW {
    height: 100px;
    width: 50px;
    background-size: cover;
    border: 1px solid black;
    background-image: url("image/weissWW.jpg");
}

.stein {
    margin: 5px;
}

#bausteine {
    display: flex;
    flex-wrap: wrap;
}

/* Stil für das Spielfeld */
#playground {
    display: grid;
    /*grid-template-columns: repeat(var(--laenge), 1fr);*/
    gap: 0;
}

.row {
    display: flex;
}

/* Stil für jedes Feld im Spielfeld */
.cell {
    border: 1px solid black;
    box-sizing: border-box;
    background-image: none;
    background-size: cover;
}

/* Stil für Lampen */
.lamp {
    color: rgba(15, 15, 15, 0.2);
}

.lamp.cell {
    border: none;
}

.lamp.off {
    background-image: url("image/lampeAus.jpg");
}

.lamp.on {
    background-image: url("image/lampeAn.jpg");
}

